head
  title= title
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
  meta(name='description' content='Random Systems Dashboard')
  meta(name='author' content='Random Systems - Mario Galea')
  //  Bootstrap core CSS 
  link(href="bootstrap/css/bootstrap.css", rel="stylesheet")
  //  Custom styles for this template 
  link(href="stylesheets/custom.css", rel="stylesheet", type="text/css")
  link(rel='shortcut icon' href='images/favicon.png')
  
  block extra_stylesheets
