extends layout

block extra_stylesheets
    link(href='stylesheets/login.css' rel='stylesheet')


block content
    .login
        .header
            .logo
            h4
                a(href='index.html')
                | MGA EARP
                sup |
                strong PORTAL
        .single-widget-container
            section.widget.login-widget
                .logo
                    img(src='images/RS_AI.svg')
                header.text-align-center
                    h4 Login to your account
                .body
                    form.no-margin(action='index.html' method='get')
                        fieldset
                            .form-group
                                label(for='email') Username
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user
                                    input#username.form-control.input-lg.input-transparent(type='text' placeholder='Your Username' required='')
                                label(for='password') Password
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-lock
                                    input#password.form-control.input-lg.input-transparent(type='password' placeholder='Your Password' required='')
                    .form-actions
                        .row
                            .col-8.my-auto.mx-auto
                                a.forgot.small(href='/password') Forgot Username or Password?
 
                            .col-4
                                button.btn.btn-danger.btn-md.float-right(type='submit') Sign In

