extends layout


block extra_stylesheets
    link(href='stylesheets/login.css' rel='stylesheet')

block header
    .logo
    h4
        a(href='index.html')
        | GAMING COMPLIANCE
        sup |
        strong PORTAL

block content
    .single-widget-container
        section.widget.login-widget
            .logo
                img(src='images/RS_AI.svg')
            header.text-align-center
                h4 Reset Your Account Details
            .body
            form.no-margin(action='reset_password.html' method='get')
                fieldset
                .form-group
                    label(for='email') Email
                    .input-group
                        span.input-group-addon
                            i.fa.fa-user
                        input#username.form-control.input-lg.input-transparent(type='text' placeholder='Your email' required='')
                .form-actions.text-center
                    small  We will send you a link to reset your password.
                    button.btn.btn-danger.btn-md.center-block(type='submit') Send
    