extends layout

block content
    nav.bg-dark.fixed-top.navbar.navbar-dark.navbar-expand-lg
        
        .navbar-brand
            include brand_header.pug
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarTogglerDemo01", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarToggler
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="#") Home 
                    span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link.disabled(href="#") Disabled
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#navbarDropdownMenu(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Dropdown link 
                    .dropdown-menu(aria-labelledby="navbarDropdownMenu").dropdown-menu-right.bg-dark
                        a.dropdown-item(href="/Profile") Profile
                        a.dropdown-item(href="/Notifications") Notifications
                        a.dropdown-item(href="/Logout") Logout
    .container
            p placeholder


