extends layout

block extra_stylesheets
    link(href='stylesheets/login.css' rel='stylesheet')
    link(href='stylesheets/widget.css' rel='stylesheet')
    link(href='stylesheets/font-awesome.css' rel='stylesheet')

block content_type
    .login
        .nav.fixed-top
            .navbar-brand
                include brand_header.pug
        block content
             section.widget
                header.text-align-center
                    h4=widgetHeader
                    h5.error=widgetSubheader
                        .body
                            form.no-margin(action='/login' method='POST')
                                fieldset
                                    .form-group
                                        label(for='username') Username
                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-user
                                            input#username.form-control.input-lg.input-transparent(type='text' placeholder='Your Username' required='' name='username')
                                        label(for='password') Password
                                        .input-group
                                            span.input-group-addon
                                                i.fa.fa-lock
                                            input#password.form-control.input-lg.input-transparent(type='password' placeholder='Your Password' required='' name='password')
                                div.form-actions
                                    .row
                                        .col-8.my-auto.mx-auto
                                            a.forgot.small(href='/password') Forgot Username or Password?

                                        .col-4
                                            button.btn.btn-danger.btn-md.float-right(type='submit') Sign In
